/* HEADER CSS */

header{
	margin-top: 40px;
	.logo{
		max-width: 276px;
		max-height: 25px;
	}
	li:not(:last-child){
		margin-right: 20px;
	}
	a{
		color: $primary;
		@include font-style(14, 18, 700);
		text-transform: uppercase;
		img{
			width: 12px;
		}
	}
}
