//MAIN SECTION CSS
.main-section {
  margin-top    : 120px;
  margin-bottom : 100px;

  .row {
    padding    : 0 100px;
    margin-top : -285px
  }

  .main-title {
    text-align : center;
    max-width  : 400px;
    margin     : 0 auto;

    h3 {
      @include font-style(15, 18, 400);
    }

    h1 {
      @include font-style(50, 52, 400);
      font-family    : PlantinMTPro, serif;
      letter-spacing : -1.3px;
      margin         : 16px 0;
    }

    p {
      @include font-style(18, 26, 400);
      font-family    : PlantinMTPro, serif;
      letter-spacing : -0.5px;
      margin-bottom  : 90px;
    }
  }

  .book-mockup {
    border          : 1px solid $primary;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    color           : #fff;
    text-align      : center;
    position        : relative;

    &:after {
      position   : absolute;
      content    : "";
      top        : 5px;
      left       : 5px;
      width      : calc(100% - 10px);
      height     : calc(100% - 10px);
      background : #AB4E47;
      z-index    : -1;
    }

    .tag {
      @include font-style(15, 18, 700);
      letter-spacing : -1.3px;
    }

    .title {
      @include font-style(34, 38, 400);
      letter-spacing : -0.9px;
      font-family    : PlantinMTPro, serif;
      margin         : 16px 0 24px;
      padding        : 0 57px;
    }
  }

  .book-cover {
    width         : 389px;
    height        : 520px;
    margin-bottom : 100px;
    margin-right  : 115px;

    &:nth-child(3n) {
      margin-right : 0;
    }

    &:nth-child(2) {
      margin-top : $pos-mar;
    }

    &:nth-child(3n+4) {
      margin-top : -$pos-mar;
    }

    &:nth-child(3n+6) {
      margin-top : -$pos-mar;
    }

  }

  .read-more {
    margin-top : $pos-mar;
  }
}



